.art-section {
  position: sticky;
  color: black;
  background-color: white;
  height: 100vh;
}


@media screen and (max-width: 1140px) {
  .art-section { 
    height: 1200px; 
  }
}

@media screen and (max-width: 730px) {
  .art-section { 
    height: 1000px; 
  }
}

@media screen and (max-height: 812px){
  .art-section{
    height: auto;
  }
}

.art-title {
  left: 0;
  top: 0;
  font-size: 25px;
  font-weight: 700;
  padding-left: 40px;
  padding-top: 20px;
}

@media screen and (max-width: 860px) {
  .art-title { 
    font-size: 20px; 
  }
}

.generator{
  font-size: 20px;
  font-weight: 600;
  background-color: black;
  color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  width: 600px;
  cursor: pointer;
  float: left;
  margin-bottom: 30px;
  padding: 3px;

  /* Outline settings */
  outline: 2px solid black; 
  outline-offset: 3px;
}

.art-canvas {
  margin-right: 200px;
  margin-top: 100px;
  max-width: 594px;
  max-height: 738px;
}

.sketch {
  display: none;
}

.generator-canvas {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-top: -70px;
}

.placeholder-box {
  width: 594px; /* Set the width to match your canvas width */
  height: 738px;
  max-width: 100%;
  display: block;
  // // min-height: 450px;
  background-color: white; /* Set the background color or any other styles */
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  // //aspect-ratio: 3/4;
}

@media screen and (max-width: 1585px) {
  .art-canvas { 
    margin-left: 70px;
    min-width: 350px;
    min-height: 450px;
  }
  .placeholder-box {
    aspect-ratio: 594/738;
    height: auto;
  }
}

@media screen and (max-width: 1140px) {
  .generator-canvas { 
    flex-direction: column;
  }

  .art-canvas {
    margin-top: 200px;
    min-width: 350px;
    min-height: 450px;
    max-width: 525px;
    max-height: 675px;
    margin-left: -10px;
  }
}

.selectors {
  margin-top: 100px;
  position: relative;
  border-width: 2px;
  color: black;
  width: 600px;
  height: 100px;
  margin-left: 20px;
  font-size: large;
  font-weight: 700;
  border-radius: 10px;
  display: block;
}

.button-container {
  position: relative;
  width: 80%;
}

@media screen and (max-width: 1140px) {
  .selectors { 
    margin-left: -10px;
  }
}

@media screen and (max-width: 840px) {
  .selectors { 
  margin-top: 100px;  
  font-size: medium;
  width: 85%;
  }
  .generator {
    font-size: medium;
  }
  .button-container {
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .art-break {
    margin-top: 10px;
  }
}

@media screen and (max-width: 840px) {
  .generator {
    width: 100%;
  }
}

.image {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}