.experience-section {
  position: sticky;
  color: black;
  background-color: rgb(242, 242, 242);
  height: auto;
  top: 0px;
  text-align: center;
  padding-bottom: 200px;
}

.exp-title{
  padding: 75px;
  z-index: 10;
}

.exp-content{
  font-size: 170px;
  line-height: .9;
}

@media screen and (max-width: 800px) {
  .exp-content {
    font-size: 120px;
  }
}

.exp_td{
  z-index: 1;
  position: relative;
}

.exp_td:hover {
  color: #1CEEBA;
  cursor: pointer;
}


.exp_art{
  z-index: 1;
  position: relative;
}

.exp_art:hover {
  color: #1CEEBA;
  cursor: pointer;
}

.exp_near{
  z-index: 1;
  position: relative;
}

.exp_near:hover{
  color: #1CEEBA;
  cursor: pointer;
}

.exp_cubes{
  z-index: 1;
  position: relative;
}

.exp_cubes:hover{
  color: #1CEEBA;
  cursor: pointer;
}

.exp_bryte{
  z-index: 1;
  position: relative;
}

.exp_bryte:hover{
  color: #1CEEBA;
  cursor: pointer;
}

.exp_bac{
  z-index: 100;
  position: relative;
}

.exp_bac:hover{
  color: #1CEEBA;
  cursor: pointer;
}

.hover_cont{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  size: small;
  background-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.td_img{
  width: 100%;
  height: auto;
}

.hover_cont_gen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  size: small;
  background-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.hover_cont_near{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  background-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.near_img{
  width: 30%; /* Set the maximum width to prevent overflow */
  height: auto; /* Maintain the aspect ratio */
}

.art_img{
  width: 75%; /* Set the maximum width to prevent overflow */
  height: 350px; /* Maintain the aspect ratio */
}

.exp_td:hover .hover_cont{
  opacity: 1;
  transition: 0.3s ease-in;
}

.exp_art:hover .hover_cont_gen{
  opacity: 1;
  transition: 0.3s ease-in;
}

.exp_near:hover .hover_cont_near{
  opacity: 1;
  transition: 0.3s ease-in;
}

.hover_cont_cube{
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.exp_cubes:hover .hover_cont_cube{
  opacity: 1;
  transition: 0.3s ease-in;
}

.hover_cont_bac{
  position: absolute;
  background-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
}

.exp_bac:hover .hover_cont_bac{
  opacity: 1;
  transition: 0.3s ease-in;
}

.bac_img{
  width: 35%;
  height: auto;
}

.hover_cont_bryte{
  position: absolute;
  background-color: transparent;
  opacity: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
}
.exp_bryte:hover .hover_cont_bryte{
  opacity: 1;
  transition: 0.3s ease-in;
}

.bryte_img{
  width: 20%;
  height: auto;
}
